<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{description}}</p>
    <p>Pris {{price}} kr per förpackning</p>
    <form name="ShoppingList">
      <fieldset>
        <label>Antal: <input type="number" name="data"></label>
        <input type="button" value="Lägg i"   onclick="SaveItem()">
        <input type="button" value="Ändra" onclick="ModifyItem()">
        <input type="button" value="Lägg tillbaka" onclick="RemoveItem()">
      </fieldset>
        <div id="items_table">
          <h2>I korgen:</h2>
          <table id="list"></table>
        </div>
    </form>
    {{> footer}}
    <script>

      //call function to check for browser support and show table for shopping
      window.load=doShowAll(),showInput();

      //populate input with amount
      function showInput() {
        var input = "";
        //check if item exists
        console.log(localStorage.getItem("{{pageTitle}}"));
        if (localStorage.getItem("{{pageTitle}}") !=null) {
          document.forms.ShoppingList.data.value = localStorage.getItem("{{pageTitle}}");
        } else {
          document.forms.ShoppingList.data.value = "0";
        }
      }

      //populate table with items
      function doShowAll() {
        var key = "";
        var list = "<tr><th></th><th>Antal</th></tr>\n";
        var i = 0;
        //For a more advanced feature, you can set a cap on max items in the cart.
        for (i = 0; i <= localStorage.length-1; i++) {
          key = localStorage.key(i);
          list += "<tr><td>" + key + "</td>\n<td>"
          + localStorage.getItem(key) + "</td></tr>\n";
        }
        //if no item exists in the cart.
        if (list == "<tr><th></th><th>Antal</th></tr>\n") {
          list += "<tr><td><i></i></td>\n<td><i></i></td></tr>\n";
        }
        //bind data to HTML table.
        document.getElementById('list').innerHTML = list;
      }

      //save key-value pair, get JavaScript object and call setItem method
      function SaveItem() {
        var name = "{{pageTitle}}";
        var data = document.forms.ShoppingList.data.value;
        localStorage.setItem(name, data);
        doShowAll();
      }
      //change an item in storage
      function ModifyItem() {
        var name1 = "{{pageTitle}}";
        var data1 = document.forms.ShoppingList.data.value;
        //check if key exists
        if (localStorage.getItem(name1) !=null) {
          //update
          localStorage.setItem(name1,data1);
          document.forms.ShoppingList.data.value = localStorage.getItem(name1);
        }
        doShowAll();
      }
      //delete an item from storage
      function RemoveItem() {
        var name = "{{pageTitle}}";
        document.forms.ShoppingList.data.value=localStorage.removeItem(name);
        doShowAll();
      }
    </script>
  </body>
</html>
