<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <header>
      {{> header}}
    </header>
    <main>
      <h1 id="itemName">{{pageTitle}}</h1>
      <p>{{description}}</p>
      <p>Pris
        <span id="itemPrice">{{price}}</span> kr per förpackning
        <span id="itemSku">{{sku}}</span>
      </p>
      <fieldset>
        <label>
          Antal i korgen:
          <span id="amountLabel">0</span>
        </label>
        <br>
        <button id="add">Lägg i fler</button>
        <button id="remove">Lägg tillbaka</button>
      </fieldset>
      <p id="item_summary">
        <label>Du har totalt
          <span id="sumOfItemsLabel">0</span> saker för
          <span id="grandTotalLabel">0</span> kr i korgen
        </label>
      </p>
    </main>
    <footer>
      {{> footer}}
    </footer>
    <script src="/tea.js"></script>
  </body>
</html>
