<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{description}}</p>
    <p>Pris {{price}} kr per förpackning</p>
    <form name="ShoppingList">
      <fieldset>
        <legend>I korgen</legend>
        <label>Antal: </label>
        <label id="amountLabel">0</label>
        <br>
        <input type="button" value="Lägg i fler" onclick="addItem()">
        <input type="button" value="Lägg tillbaka" onclick="removeItem()">
      </fieldset>
      <p id="item_summary">
        <label>Du har totalt</label>
        <label id="sumOfItemsLabel">0</label>
        <label> saker för </label>
        <label id="grandTotalLabel">0</label>
        <label> kr i korgen</label>
      </p>
    </form>
    {{> footer}}
    <script>

      const amountLabel = document.querySelector("#amountLabel");
      const sumOfItemsLabel = document.querySelector("#sumOfItemsLabel");
      const grandTotalLabel = document.querySelector("#grandTotalLabel");
      const name = "{{pageTitle}}";
      const price = {{price}};
      const sku = "{{sku}}";
      let sumOfRow = "";
      let sumOfItems = "";
      let grandTotal = "";

      //call function to populate labels
      window.load=doShowAll();

      //function to populate label
      function doShowAll() {
        sumOfItems = 0;
        grandTotal = 0;
        //populate label with amount
        if (localStorage.getItem("{{pageTitle}}") !=null) {
          amountLabel.textContent = JSON.parse(localStorage.getItem("{{pageTitle}}"))[0];
        } else {
          amountLabel.textContent = "0";
        }
        for (i = 0; i <= localStorage.length-1; i++) {
          key = localStorage.key(i);
          sumOfItems+= parseInt(JSON.parse(localStorage.getItem(key))[0]);
          grandTotal+= parseInt(JSON.parse(localStorage.getItem(key))[2]);
        }
        sumOfItemsLabel.textContent = sumOfItems;
        grandTotalLabel.textContent = grandTotal;
      }

      //function to add an item
      function addItem() {
        let amount = amountLabel.textContent;
        amount++;
        if (amount < 1) {
          amount = 1;
        }
        sumOfRow = amount*price;
        localStorage.setItem(name, JSON.stringify([amount, price, sumOfRow, sku]));
        //loop for counting items
        doShowAll();
      }
      //function to remove an item
      function removeItem() {
        let amount = amountLabel.textContent;
        amount--;
        if (amount < 1) {
          localStorage.removeItem(name);
        } else {
          sumOfRow = amount*price;
          localStorage.setItem(name, JSON.stringify([amount, price, sumOfRow, sku]));
        }
        doShowAll();
      }
    </script>
  </body>
</html>
