<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <header>
      {{> header}}
    </header>
    <main>
      <p>{{description}}</p>
      <p>Pris {{price}} kr per förpackning</p>
      <fieldset>
        <label>
          Antal i korgen:
          <span id="amountLabel">0</span>
        </label>
        <br>
        <button onclick="addItem()">Lägg i fler</button>
        <button onclick="removeItem()">Lägg tillbaka</button>
      </fieldset>
      <p id="item_summary">
        <label>Du har totalt
          <span id="sumOfItemsLabel">0</span> saker för
          <span id="grandTotalLabel">0</span> kr i korgen
        </label>
      </p>
    </main>
    <footer>
      {{> footer}}
    </footer>
    <script>

      const amountLabel = document.querySelector("#amountLabel");
      const sumOfItemsLabel = document.querySelector("#sumOfItemsLabel");
      const grandTotalLabel = document.querySelector("#grandTotalLabel");
      const name = "{{pageTitle}}";
      const price = {{price}};
      const sku = "{{sku}}";
      let sumOfRow = "";
      let sumOfItems = "";
      let grandTotal = "";

      //call function to populate labels
      window.load=doShowAll();

      //function to populate label
      function doShowAll() {
        sumOfItems = 0;
        grandTotal = 0;
        //populate label with amount
        if (sessionStorage.getItem("{{pageTitle}}") !=null) {
          amountLabel.textContent = JSON.parse(sessionStorage.getItem("{{pageTitle}}"))[0];
        } else {
          amountLabel.textContent = "0";
        }
        for (i = 0; i <= sessionStorage.length-1; i++) {
          key = sessionStorage.key(i);
          sumOfItems+= parseInt(JSON.parse(sessionStorage.getItem(key))[0]);
          grandTotal+= parseInt(JSON.parse(sessionStorage.getItem(key))[2]);
        }
        sumOfItemsLabel.textContent = sumOfItems;
        grandTotalLabel.textContent = grandTotal;
      }

      //function to add an item
      function addItem() {
        let amount = amountLabel.textContent;
        amount++;
        if (amount < 1) {
          amount = 1;
        }
        sumOfRow = amount*price;
        sessionStorage.setItem(name, JSON.stringify([amount, price, sumOfRow, sku]));
        //loop for counting items
        doShowAll();
      }

      //function to remove an item
      function removeItem() {
        let amount = amountLabel.textContent;
        amount--;
        if (amount < 1) {
          sessionStorage.removeItem(name);
        } else {
          sumOfRow = amount*price;
          sessionStorage.setItem(name, JSON.stringify([amount, price, sumOfRow, sku]));
        }
        doShowAll();
      }

    </script>
  </body>
</html>
