<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <header>
      {{> header}}
    </header>
    <main>
      <p>{{description}}</p>
      <p>Pris {{price}} kr per förpackning</p>
      <fieldset>
        <label>
          Antal i korgen:
          <span id="amountLabel">0</span>
        </label>
        <br>
        <button id="add">Lägg i fler</button>
        <button id="remove">Lägg tillbaka</button>
      </fieldset>
      <p id="item_summary">
        <label>Du har totalt
          <span id="sumOfItemsLabel">0</span> saker för
          <span id="grandTotalLabel">0</span> kr i korgen
        </label>
      </p>
    </main>
    <footer>
      {{> footer}}
    </footer>
    <script>

      const amountLabel = document.querySelector("#amountLabel");
      const sumOfItemsLabel = document.querySelector("#sumOfItemsLabel");
      const grandTotalLabel = document.querySelector("#grandTotalLabel");
      const addButton = document.querySelector("#add");
      const removeButton = document.querySelector("#remove");
      const name = "{{pageTitle}}";
      const price = {{price}};
      const sku = "{{sku}}";
      let sumOfRow = "";
      let sumOfItems = "";
      let grandTotal = "";

      //call function to populate labels
      window.load=listItems();

      addButton.onclick = addOrRemoveItem;
      removeButton.onclick = addOrRemoveItem;

      // Items inventory
      function listItems() {
        sumOfItems = 0;
        grandTotal = 0;
        // Set amount label
        if (sessionStorage.getItem("{{pageTitle}}") !=null) {
          amountLabel.textContent = JSON.parse(sessionStorage.getItem("{{pageTitle}}"))[0];
        } else {
          amountLabel.textContent = "0";
        }
        // Count and set items and grand total
        for (i = 0; i <= sessionStorage.length-1; i++) {
          key = sessionStorage.key(i);
          sumOfItems+= parseInt(JSON.parse(sessionStorage.getItem(key))[0]);
          grandTotal+= parseInt(JSON.parse(sessionStorage.getItem(key))[2]);
        }
        sumOfItemsLabel.textContent = sumOfItems;
        grandTotalLabel.textContent = grandTotal;
      }

      // Add or remove an item
      function addOrRemoveItem(e) {
        let amount = amountLabel.textContent;
        if (e.target.id === "add") {
          amount++;
        } else if (e.target.id === "remove") {
          amount--;
        }
        if (amount < 1) {
          sessionStorage.removeItem(name);
        } else {
          sumOfRow = amount*price;
          sessionStorage.setItem(name, JSON.stringify([amount, price, sumOfRow, sku]));
        }
        listItems();
      }

    </script>
  </body>
</html>
